@use '../base/vars' as *;
.header {
    padding: 20.5px 0;
    @media (max-width: 768px) {
        padding: 16px 0;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 16px;
    }
}
.logotype {
    width: 146px;
}
.logotype__image {
    object-fit: cover;
    width: 100%;
}
.menu {
}
.menu__list {
    display: flex;
    gap: 64px;
}
.menu__item {
}
.link-anchor {
    text-decoration: none;
    color:$text-color;
    font-weight: bold;
    font-size: 20px;

    &:hover {
        color: $context-color;
    }
}
